{% extends 'base.html.twig' %}
{% block title %}Page de connection{% endblock %}

{% block body %}
    <div class="container mt-5">
            <div class="offset-3 col-md-7 p-5 border rounded">
                <h2 class="title text-center m-2">Formulaire d'inscription</h2>
                {{ form_start(form) }}
                {{form_widget(form) }}
                {{ form_end(form) }}
            </div>
    </div>

{% endblock %}


